<% include layout/header.ejs  %>
<div class="container">
    <section class="supportFormThin">
        <% include layout/messages.ejs  %>
        <h1 class="highlight">Register</h1>
        <form name="form" role="form" method="post" action="/register/save" autocomplete="off">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" value="" placeholder="e.g. your@mail.com" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" value="" placeholder="e.g. your@mail.com" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="********"  autocomplete="off">
                    </div>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary pull-right">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
<% include layout/footer.ejs  %>