
<!-- error, success messages in alert box -->
<div class="errors">
    <% if(typeof errors !== 'undefined') { %>
        <% for(var statusCode in errors){ %>
            <% for(var errorCode in errors[statusCode]){ %>
                <div class="alert alert-danger alert-dismissable">
                    <h4><b><%- errors[statusCode][errorCode].title %></h4></b></h4>
                    <%- errors[statusCode][errorCode].details %>
                </div>
            <% } %>
        <% } %>
    <% } %>

    <% if(typeof success !== 'undefined'){ %>
        <% for(var sucStatusCode in success){ %>
            <% for(var sucCode in success[sucStatusCode]){ %>
                <div class="alert alert-success alert-dismissable">
                    <h4><b><%- success[sucStatusCode][sucCode].title %></b></h4>
                    <%- success[sucStatusCode][sucCode].details %>
                </div>
            <% } %>
        <% } %>
    <% } %>
</div>

